@font-face{
    font-family: 'Comic' ;
    src:url('Fontes/Action\ Comics\ Black.ttf') format('truetype');
}

body{
    padding: 0 15px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

div{

    margin: 0;
    padding: 15px;
    border-radius: 15px;
}

header{
    width:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-left: 30px;

}



#title{
    margin: 15 0 0 0;
    text-transform: uppercase;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: 80px;
     text-align: center;
     margin-bottom: 0;


}

 #middlename{
    color: black;
    font-weight:  bold;
    text-align: center;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    margin-top: 0;
    padding-top: 0;
    font-weight: bold;

}

    

 .subtitle, .post_title{
    color: #5765b0;
}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

article{
   display: flex;
   justify-content: center;
   align-items: center;
}

#descricao{
    padding: 15px 5px 15px 5px;
    color:rgb(44, 49, 54);
    font-weight: bold;
    max-width: 500px;
    text-align: center;
}

a{
    text-decoration: none;
    color: purple;
}


img{
    border-radius: 50%;
    border: 5px solid black;
}
 footer{
    border-top: 5px solid black;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

 }

