@font-face{
    font-family: 'Comic' ;
    src:url('Fontes/Action\ Comics\ Black.ttf') format('truetype');
}



*::-webkit-scrollbar {
    width: 15px;
  }

*::-webkit-scrollbar-thumb{
    background-color: rgb(162, 0, 255);
    border: 2px solid  rgb(162, 0, 255);
    border-radius: 2px;
}

body{
    padding: 15px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}



div{
    margin: 0;
    padding: 15px;
    max-width: 1500px;
    border-radius: 15px;
    background-color: blueviolet;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}



header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
}



#title{
    margin: 15 0 0 0;
    text-transform: uppercase;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: 80px;
     text-align: center;
     margin-bottom: 0;


}

 #middlename{
    color: aliceblue;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 0;
    padding-top: 0;
    letter-spacing: 5px;

}

    

h2{  
    color:#231557 ;
  
}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

article{
   display: flex;
   justify-content: center;
   align-items: center;
}

#descricao{
    padding: 15px 5px 15px 5px;
    color:rgb(207, 214, 221);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    max-width: 500px;
    text-align: center;
}




i{
     cursor: pointer;

     color:white;

}

i:hover{
         color:aqua;
}


img{
    border-radius: 50%;
    border: 7px solid rgb(255, 251, 251);
}


 footer{
    border-top: 5px solid white;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;

 }

